<div id="accordion">
    <h3 id="black">Black</h3>
    <div>
        <div id="black_1"><p>1 Black</p></div>
        <div id="black_2"><p>2 Natural Black</p></div>
    </div>
    <h3 id="brunette">Brunettes</h3>
    <div>
        <div id="brunettes_3"><p>3 Natural Darkest Brown</p></div>
        <div id="brunettes_4"><p>4 Natural Dark Brown</p></div>
        <div id="brunettes_4_15"><p>4.15 Natural Dark Frosted Brown</p></div>
        <div id="brunettes_4_3"><p>4.3 Natural Dark Golden Brown</p></div>
        <div id="brunettes_5"><p>5 Natural Brown</p></div>
        <div id="brunettes_5_15"><p>5.15 Natural Iced Brown</p></div>
        <div id="brunettes_5_3"><p>5.3 Natural Golden Brown</p></div>
        <div id="brunettes_5_35"><p>5.35 Mousse Chocolate Brown</p></div>
        <div id="brunettes_6_13"><p>6.13 Natural Light Forsted Brown</p></div>
        <div id="brunettes_6_3"><p>6.3 Light Golden Brown</p></div>
        <div id="brunettes_6_41"><p>6.41 Natural Hazelnut</p></div>
    </div>
    <h3 id="red">Redheads</h3>
    <div>
        <div id="red_3_61"><p>3.61 Mousse Black Cherry</p></div>
        <div id="red_4_54"><p>4.54 Natural Dark Copper Mahogany</p></div>
        <div id="red_5_5"><p>5.5 Natural Mahogany Brown</p></div>
        <div id="red_5_62"><p>5.62 Radiant Auburn</p></div>
        <div id="red_6_66"><p>6.66 Intense Red</p></div>
        <div id="red_5_65"><p>5.65 True Red</p></div>
    </div>
    <h3 id="blonde">Blondes</h3>
    <div>
        <div id="blonde_7"><p>7 Natural Dark Blonde</p></div>
        <div id="blonde_7_31"><p>7.31 Natural Dark Caramel Blonde</p></div>
        <div id="blonde_8"><p>8 Natural Blonde</p></div>
        <div id="blonde_8_13"><p>8.13 Natural Frosted Blonde </p></div>
        <div id="blonde_8_3"><p>8.3 Natural Golden Blonde</p></div>
        <div id="blonde_9"><p>9 Natural Light Blonde</p></div>
        <div id="blonde_9_1"><p>9.1 Natural Light Ash Blonde</p></div>
        <div id="blonde_10"><p>10 Natural Baby Blonde </p></div>
    </div>
</div>

