<footer>
<p>This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook. You understand that you are providing your information to L'Or&eacute;al  South Africa and not to Facebook. The information you provided will be used for the purposes of conducting this promotion and as consented to by you. Your use of this site is subject to L'Or&eacute;al South Africa's Privacy Policy.<br />
<span id="terms">Terms &amp; Conditions</span>&nbsp;|&nbsp;<span id="privacy">Privacy Policy</span></p>
</footer>