<body>
<!-- main landing starts -->
    <section id="landing">
    	<div class="win">&nbsp;</div>
    	<div class="textm">&nbsp;</div>
        <div class="textbox">
        	<span class="text1">SELECT your shade</span><br />
        	<span class="text2">share your precious moment</span><br />
        	<span class="text3">and stand a chance to win 1 of 4 </span><br />
        	<span class="text4">Pandora bracelets </span><br />
        	<span class="text5">worth R12 500</span>
        </div>
        <div><input id="landingsubmit" type="submit" value="Enter now" /></div>
    </section>
<!-- main landing ends -->

</body>
</html>
