<div id="colour_selector">
    <div class="textbox">
        <span class="text1">select your shade</span><br />
        <span class="text2">share your precious moment</span><br />
        <span class="text3">and stand a chance to win 1 of 4</span><br />
        <span class="text4">pandora bracelets</span><br />
        <span class="text5">worth R12 500</span>
    </div>
    <div id="colorwheel">
      
        <div class="center">&nbsp;</div>
        <div id="circle_pointer"><div class="circle"></div></div> 
    </div>
</div>
