
<!-- main landing starts -->
    <section id="thanks">
        <div class="packshot">
            <img src="<%= model.get('imgSrc')%>" alt="<%= model.get('Colourname')%>" />
            <div class="bracelet">
                <img src="<%= model.get('braceletSrc')%>" alt="<%= model.get('braceletname')%>" />
            </div>
        </div>
    	<div class="top">
        	<h1>Thank you<br /><span>for entering</span></h1>
        </div>
        <div class="clearfix"></div>
        <div class="textbox">
        	<span class="text1">Share your precious moment</span><br />
        	<span class="text2">on your facebook wall</span><br />
        	<span class="text3">to get an additional 5 entries</span>
        </div>
        <div class="clearfix"></div>
        <div ><input id="facebookshare" type="submit" value="Share now" /></div>
        <div class="clearfix"></div>
        <div class="pinkbox">
            <h1>WIN<br />
            <span>even more!</span></h1>
            <p>Purchase any L'Or&eacute;al Paris Excellence Hair Colour, SMS your barcode to 4034 and you could <strong>WIN 1 OF 300 LEATHER PANDORA BRACELETS VALUED AT <span>R895 EACH.</span></strong></p>
        </div>
        <div></div>    
    </section>
<!-- main landing starts -->

<!-- footer ends -->

<!-- script start -->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/Library/jquery.formalize.js"></script>
    <script src="js/Library/modernizr.custom.80808.js"></script> -->
<!-- script start -->

